<% content_for :head do %>
<title>Задачи</title>
<% end %>


<%= javascript_include_tag "jquery-3.4.1" %>
<%= javascript_include_tag "application" %>

<div class="heading">Задачи<img class="plus"src="addtodoicon.png"	align="right" rel="create-overlay" onclick="plusOnClick();"></div>

<% @projects.each do |project| %>
<div class="project_box">
	<table class="project_table">
		<tr><th><strong><%= project.title %></strong></th><th></th></tr>

		<% project.todos.each do |todo| %>
		<% if todo.isCompleted=="true" %>
		<tr><td>
			<div class="todo_row" data-isChecked="true"  id="check_box<%= todo.id %>"
				data-todoid="<%= todo.id %>" onclick="done(id);"><img class="done" src="done.png" >
			</div>
		</td><td>
			<div class="todo_row_text" id="todo_text<%= todo.id %>"data-todoid="<%= todo.id %>" data-isChecked="true" onclick="done(id);"><%= todo.text  %>
			</div>	
		</td></tr>
		<% else %> 
		<tr><td>
			<div class="todo_row" data-isChecked="false"  id="check_box<%= todo.id %>"
				data-todoid="<%= todo.id %>" onclick="done(id);"><img class="done" src="done.png" >
			</div>
		</td><td>
			<div class="todo_row_text" id="todo_text<%= todo.id %>"data-todoid="<%= todo.id %>" onclick="done(id);"><%= todo.text %>
			</div>	
		</td></tr>
		<% end %>
		<% end %>
	</table>
</div>
<% end %>


<div id="mask">
	<div id="create-overlay"> 
			<strong > Новая задача </strong>
			<input  class="todo_text" type="text" value="Название задачи...">

			<select class="project_selector" style="" type="text" >
				<option>Категория</option>
				<% @projects.each do |project| %>
				<option data-project_id="<%= project.id %>"><%= project.title %></option>
				<% end %>	
			</select>

			<div class="CANCLE" onclick="onCancleClick();"> 
				<strong class="btn_text"> Отмена </strong>
			</div>
		<div class="OK" onclick="OnOkClick();"> 
			<strong class="btn_text"> OK </strong>
		</div>
	</div>

</div>